.keyboard {
  display: flex;  
  flex-wrap: wrap;
  width: 740px;
  gap: 5px;
  tab-size: 7;
}

.keyboard-display {
  width: 735px;
  height: 200px;
}


.key {
  border: 1px solid;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-weight: 550;
  min-width: 40px;
}

.BackQuote {
  width: 30px;
}

.Tab {
  width: 60px;
}

.Backspace, 
.Delete,
.Enter,
.ShiftRight,
.Space {
  flex-grow: 1;
  flex-shrink: 1;
}

.Enter,
.ShiftRight,
.BackSpace {
  min-width: 80px;
}

.CapsLock,
.ShiftLeft {
  width: 124px;
}